<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--property name="LOG_FILENAME" value="${LOG_FILENAME:-${logging.file.name:-/jydata/log/icis_engine/engine}}" /-->
    <property name="LOG_FILENAME" value="../log/icis_engine/engine" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %5level [%20thread] %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOG_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILENAME}.INFO</file>
        <encoder>
            <pattern>%date %5level [%20thread] %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILENAME}-%d{yyyy-MM-dd}.INFO</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="LOG_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILENAME}.WARN</file>
        <encoder>
            <pattern>%date %5level [%20thread] %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILENAME}-%d{yyyy-MM-dd}.WARN</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="LOG_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILENAME}.ERROR</file>
        <encoder>
            <pattern>%date %5level [%20thread] %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILENAME}-%d{yyyy-MM-dd}.ERROR</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_INFO" />
        <appender-ref ref="LOG_WARN" />
        <appender-ref ref="LOG_ERROR" />
    </root>
</configuration>